<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    
    <div class="container-lg">
        <a href="#" class="navbar-brand">Journalingo</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="" class="nav-link">View entries</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Add entry</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>